body {
    margin: 0;
    background-color: #DADFE1;
    font-family:'Roboto', sans-serif;
}
h1 {
    font-size: 60px;
    color: #00a0e3;
}
button {
    font-family:'Roboto', sans-serif;
    padding: 10px 50px;
    border-radius: 50px;
    background-color: #00a0e3;
    border: 1px solid #00a0e3;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    outline: none;
}
    button:hover {
        background-color: #ffffff;
        border: 1px solid #00a0e3;
        color: #00a0e3 ;
        transition: all 0.2s ease-in-out;
    }
#main-wrapper {
    background-color: #DADFE1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 800px;
}
    #main-wrapper .logo {
        margin-bottom: 200px;
    }
